.card-footer
  -#Рендерим форму для добавления новой задачи
  -#Сделана в однострочном виде

  = form_for( [project, Task.new], id: "new_task", remote: true)  do |form|
    .input-group
      .input-group-prepend
        %span.input-group-text
          .fa.fa-plus
      = form.text_field :name, class: "form-control", placeholder: "Что надо сделать?"
      = form.datetime_field :excepted_datetime
      -#Скрытым полем передаем ID текущего проекта
      = form.hidden_field :project_id, value: project.id, class: "form-control"

      .input-group-append
      = form.submit "Add Task", class: "btn btn-success "


-#Отрисовываем конкретные задачи внутри текущего Проекта
.card-body

  %ul#sortable.list-group.tasks-sortable
    - project.tasks.rank(:row_order).each do |task|
      -#Рендерим каждую задачу отдельно
      = render 'tasks/task', task: task , project: project

