= content_tag "div", id: "task_#{task.id}", data: { model_name: task.class.name.underscore, update_url: project_task_sort_path( project,  task )} do

  %li.ui-state-default.list-group-item
    .row
      .col-1        
        %span{:style => "font-size: 1.75em;"}
          = best_in_place task, :status, :as => :checkbox, url: project_task_path(project, task), collection: [raw("&#x2610;"), raw("&#x2611;")]
      
      .col-7        
        = best_in_place task, :name, :as => :input, url: project_task_path(project, task), :classes  => "task_input_field",  minlength: "3", maxlength: "100"
       
      .col-3
        - if task.excepted_datetime.present?
          - if task.excepted_datetime > Time.now
            = distance_of_time_in_words(Time.now, task.excepted_datetime )
            left
          - else
            .text-danger
              overdue
              = distance_of_time_in_words(Time.now, task.excepted_datetime )
      .col-1.text-right
        .fa.fa-sort
        |
        = link_to  project_task_path(project, task), method: :delete , id: "delete_task_#{task.id}", remote: true do
          .fa.fa-trash
          
