.card-footer
  -#Рендерим форму для добавления новой задачи
  -#Форма для добавления новой задачи
  -#Сделана в однострочном виде

  = form_for( [project, Task.new]) do |form|
    .input-group
      .input-group-prepend
        %span.input-group-text
          .fa.fa-plus
      = form.text_field :name, class: "form-control", placeholder: "Что надо сделать?"
      -#Скрытым полем передаем ID текущего проекта
      = form.hidden_field :project_id, value: project.id, class: "form-control"
      -# = form.check_box :status, value: true
      .input-group-append
      = form.submit "Add Task", class: "btn btn-success "


-#Отрисовываем конкретные задачи внутри текущего Проекта
.card-body
  %ul#sortable.list-group.tasks-sortable
    - project.tasks.order(row_order: :desc).each do |task|
      = content_tag "div", id: "task_#{task.id}", data: { model_name: task.class.name.underscore, update_url: project_task_sort_path( project,  task )} do
        %li.list-group-item.ui-state-default
          .row
            .col-1
              .form-check
                %input#defaultCheck1.form-check-input.position-static{:type => "checkbox", :value => "",checked: task.status}
            .col-9
              = task.name
              = task.row_order
            .col-2.text-right
              .fa.fa-sort
              |
              = link_to edit_project_task_path(project, task) do
                .fa.fa-pencil
              |
              = link_to  project_task_path(project, task), method: :delete , data: { confirm: 'Вы уверенны?' } do
                .fa.fa-trash

