.container
  .row
    .col-10.m-auto
      .card
        .card-header.bg-primary.text-white
          -#ПРОЕКТ
          .fa.fa-list.mr-1
          = project.name
          = link_to  project, method: :delete , data: { confirm: 'Вы уверенны?' } do
            .fa.fa-trash.text-white.float-right.ml-2
          = link_to  edit_project_url(project) do  #TODO
            .fa.fa-pencil.text-white.float-right.mr-1


        -#ЗАДАЧИ
        .card-footer

          -#Добавить новую
          = form_with  url: project_tasks_path(project) do |form|
            .input-group
              .input-group-prepend
                %span.input-group-text
                  .fa.fa-plus
              = form.text_field :name, class: "form-control", placeholder: "Что надо сделать?"
              = form.hidden_field :project_id, value: params[:project_id], class: "form-control"
              -# = form.check_box :status, value: true
              .input-group-append
                = form.submit "Add Task", class: "btn btn-success "


        .card-body
          -#СПИСОК ЗАДАЧ
          %table.table.table-hover.table-bordered
            %tbody
              = render 'tasks/task',   project: project




