%div{id: "edit_project_#{project.id}"}
  -#ПРОЕКТ
  .row
    .col-1
      .fa.fa-list
    .col-10
      = best_in_place project, :name, :as => :input,  :classes  => "task_input_field",  minlength: "3",maxlength: "100"
    .col-1
      = link_to  edit_project_url(project), remote: true,  project_id: "edit_project_#{project.id}" do  #TODO
        .fa.fa-pencil.text-white
      |
      = link_to  project, method: :delete , data: { confirm: 'Вы уверенны?' }, remote: true do
        .fa.fa-trash.text-white
